<section class="navBarTop">
    <h4 class="mainTitle"><small class="small">The</small> Scilly Isles</h4>
    <img class="logo" src="images/scilly_2.jpg" />
    <div class="details">
        <p class="phoneNumber">020 7084 6500</p>
        <p class="companyName">Elite Travel Scilly</p>
    </div>
    <div class="weatherContainer">
        <div class="weatherHeader">Weather Currently: </div>
        <div class="temp"></div>
        <img class="weatherImage" src="" />
        <div class="forecast"></div>
    </div>
    <span class="date"><?php date_default_timezone_set('Europe/London'); echo date('l d F Y')?></span>
</section>
<section class="navBarBottom">
    <a href="/"><i class="fa fa-home">&nbsp;</i>Home</a>
    <div class="dropdown">
        <button class="dropbtn">Destinations
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="stmarys.php"><?php echo $locationOne ?></a>
            <a href="tresco.php"><?php echo $locationTwo ?></a>
            <a href="stmartins.php"><?php echo $locationThree ?></a>
        </div>
    </div>
    <a href="brochure.php">Brochures</a>
    <a href="contact.php">Contact Us</a>
  
</section>
