<div class="scrollContent">


    <div class="parallaxer">
        <img src="images/seals.jpg">
        <div class="content">DISCOVERY AND ADVENTURE</div>
    </div>
    
    <div class="divider">ONE OF BRITAINS BEST KEPT SECRETS</div>

    <div class="parallaxer">
        <img src="images/sunset.jpg">
        <div class="content">RELAX</div>
    </div>
    <div class="divider">PLAN A FAMILY BREAK TO THE ISLES OF SCILLY</div>
    
    <div class="parallaxer">
        <img src="images/scilly3.jpg">
        <div class="content">BE AMAZED BY THE ISLES OF SCILLY</div>
    </div>
    <div class="divider">MOTOR BOAT AND YACHTING</div>
    
      <div class="parallaxer">
        <img src="images/scillySurf.jpg">
        <div class="content">SAILING AND SURFING BREAKS</div>
    </div>
    <div class="divider">ENGLAND'S ENCHANTING ARCHIPELAGO</div>
    
</div>
