<section id="grid">
    <div class="grid-item one"><h4 class="gridText">New Isles of Scilly helicopter service</h4><img class="gridImage" src='images/heli.jpg'/></div>
  <div class="grid-item two"><h4 class="gridText">TRADITIONAL INNS</h4><img class="gridImage" src='images/inn.jpg'/></div>
  <div class="grid-item three"><h4 class="gridText">stunning scenery</h4><img class="gridImage" src='images/dusk.jpg'/></div>
  <div class="grid-item four"><h4 class="gridText">tranquillity</h4><img class="gridImage" src='images/cows.jpg'/></div>
  <div class="grid-item five"><h4 class="gridText">unique landmarks</h4><img class="gridImage" src='images/beach.jpg'/></div>
  <div class="grid-item six"><h4 class="gridText">YACHTS AND MOORINGS</h4><img class="gridImage" src='images/hughTown.jpg'/></div>
  <div class="grid-item seven"><h4 class="gridText">RED LETTER DAYS</h4><img class="gridImage" src='images/yacht.jpg'/></div>
    <div class="grid-item eight"><h4 class="gridText">FIVE STAR LUXURY ACCOMODATION</h4><img class="gridImage" src='images/stmarysHotelBedRoom.jpg'/></div>
    <div class="grid-item nine"><h4 class="gridText">FIVE STAR CUISINE</h4><img class="gridImage" src='images/food.jpg'/></div>
  </section>
      