<section class="statementReview">
            <h1 class="statementTitle">WHY CHOOSE US?</h1>
               <p class="statement">As Britains foremost Scilly Isles travel experts – and boasting an ever-increasing collection of awards &amp; prestigious accolades that celebrates this – We operate with the expertise, knowledge and reputation to deliver only the very finest tailor-made luxury holidays in the Scilly Isles, honed by twenty years of experience in this niche travel market.</p>
              <div></div>
             <img class="social" src='images/social.png'} />
    </section>