<div class="videoBox">
    <h1 class="videoHeader"><?php echo $videoHeader ?></h1>
    <a href="./stmarys.php"><div class="videoButtonOne">St Mary's</div></a>
    <a href="./tresco.php"><div class="videoButtonTwo">Tresco</div></a>
    <a href="./stmartins.php"><div class="videoButtonThree">St Martin's</div></a>
    <video class="videoIntro"   autoPlay loop muted>
   
    <source src="videos/scilly.mp4" type="video/mp4" />
    Your browser does not support html5 video.
    </video>
    
    </div>
    
   